<button mat-flat-button routerLink="/administration" class="top-margin">&lt; Administration</button>

<div class="center">
  <h1>Create User</h1>
</div>


<form [formGroup]="userForm">
  <mat-form-field class="full-width">
    <mat-icon matPrefix class="mat-form-field-prefix">email</mat-icon>
    <mat-label>E-Mail</mat-label>
    <input type="text" matInput formControlName="email">
    <mat-error *ngIf="userForm.controls.email.hasError('required')">
      E-Mail is required!
    </mat-error>
    <mat-error *ngIf="userForm.controls.email.hasError('email')">
      Input must be a valid e-mail!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix class="mat-form-field-prefix">lock</mat-icon>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="userForm.controls.password.hasError('required')">
      A password is required!
    </mat-error>
    <mat-error *ngIf="userForm.controls.password.hasError('minlength')">
      Your password must be at least 8 characters long!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-icon matPrefix class="mat-form-field-prefix">lock</mat-icon>
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off'
      : 'visibility'}}</mat-icon>
    <mat-error *ngIf="userForm.controls.confirmPassword.hasError('required')">
      A password is required!
    </mat-error>
    <mat-error *ngIf="userForm.controls.confirmPassword.hasError('minlength')">
      Your password must be at least 8 characters long!
    </mat-error>
    <mat-error *ngIf="userForm.errors?.passwordsDoNotMatch">
      Your confirm password must match up with your password input!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Choose the role of the user</mat-label>
    <mat-select formControlName="userRole">
      <div *ngFor="let role of availableRoles">
        <mat-option [value]="role">{{ role }}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <div class="button-group">
    <button mat-flat-button color="accent" class="button" type="button" routerLink="/administration">Cancel</button>
    <button type="submit" mat-flat-button color="primary" (click)="createUser()">Create</button>
  </div>
</form>
