<a class="mt-24px" mat-flat-button color="grey" routerLink="/administration">&lt; Administration</a>
<h2 class="mb-48px has-text-centered">Create Event</h2>
<form [formGroup]="eventForm" class="bot-margin">
  <div class="container flex-column">
    <div class="top-group">
      <mat-form-field class="title-input mr-24px">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name of the event" [maxlength]="255">
        <mat-error>Title must be longer than 2 characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of availableCategories" value="{{category.displayName}}">
            {{category.displayName}}</mat-option>
        </mat-select>
        <mat-error>Category must be chosen.</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Artist</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection" formControlName="artist">
        <mat-chip *ngFor="let artist of addedArtists" (removed)="removeArtist(artist)">
          {{artist.artistName ? artist.artistName : (artist.firstName + ' ' + artist.lastName)}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input matInput #artistInput id="artistInput" type="text" formControlName="artist" placeholder="Pick an artist"
          [matChipInputFor]="chipList" [matAutocomplete]="auto" (keyup)="onArtistChange()">
      </mat-chip-list>
      <mat-error>At least 1 artist needs to be added.</mat-error>
      <mat-icon matPrefix>star</mat-icon>
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectArtist($event)">
        <mat-option *ngFor="let artist of availableArtists"
          [value]="artist.artistName ? artist.artistName : (artist.firstName + ' ' + artist.lastName)">
          {{artist.artistName ? artist.artistName : (artist.firstName + ' ' + artist.lastName)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3" [maxlength]="1000"></textarea>
      <mat-error>Description must be longer than 10 characters.</mat-error>
    </mat-form-field>

    <div class="image-row">
      <button mat-flat-button color="accent" class="upload-button" type="button" (click)="redirectFileUploadClick()">
        Upload image
        <mat-icon matSuffix>upload</mat-icon>
      </button>
      <mat-form-field class="file-upload">
        <ngx-mat-file-input placeholder="" formControlName="imageRef" [accept]="'.png,.jpg,.jpeg'"
          (click)="redirectFileUploadClick()" #uploadButton>
        </ngx-mat-file-input>
      </mat-form-field>
      <button style="margin-left: 12px" color="warn" mat-mini-fab [disabled]="eventForm.controls.imageRef.value === ''"
        (click)="eventForm.controls.imageRef.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
  <h2 class="center">Shows</h2>
  <div class="flex-column">
    <mat-form-field class="timepicker-input center">
      <mat-label>Duration</mat-label>
      <input matInput [ngxTimepicker]="durationPicker" [format]="24" formControlName="duration" readonly>
      <ngx-material-timepicker #durationPicker (closed)="onDurationChange()" [theme]="timePickerTheme">
      </ngx-material-timepicker>
    </mat-form-field>

    <table mat-table [dataSource]="showingArray" multiTemplateDataRows class="center-table">
      <ng-container matColumnDef="startTime" formArrayName="startTimes">
        <th mat-header-cell *matHeaderCellDef>From</th>
        <td mat-cell *matCellDef="let element; dataIndex as i">
          <mat-form-field class="table-form-field mr-24px">
            <input matInput [formControlName]="i" placeholder="Choose a date" [ngxMatDatetimePicker]="startTimePicker"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startTimePicker [showSeconds]="false" [stepMinute]="5"
              (closed)="onStartTimeInput(i); validateRow(i)"></ngx-mat-datetime-picker>
            <mat-error>Start time must be chosen.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="endTime" formArrayName="endTimes">
        <th mat-header-cell *matHeaderCellDef>To</th>
        <td mat-cell *matCellDef="let element; dataIndex as i">
          <mat-form-field class="table-form-field mr-24px">
            <input matInput [formControlName]="i" id="endTime{{i}}" placeholder="Choose a date"
              [ngxMatDatetimePicker]="endTimePicker">
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endTimePicker [showSeconds]="false" [stepMinute]="5"></ngx-mat-datetime-picker>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="location" formArrayName="locations">
        <th mat-header-cell *matHeaderCellDef>Where</th>
        <td mat-cell *matCellDef="let element; dataIndex as i">
          <mat-form-field class="table-form-field mr-24px">
            <mat-label>Location</mat-label>
            <input matInput id="locationInput{{i}}" (keyup)="disableSeatingPlans(i)" [formControlName]="i"
              placeholder="Pick one" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="enableSeatingPlans(i)">
              <mat-option *ngFor="let location of availableLocations[i]" value="{{location.name}}">
                {{location.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>Location must be chosen.</mat-error>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="seatingPlan" formArrayName="seatingPlans">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; dataIndex as i">
          <mat-form-field class="table-form-field">
            <mat-label>Seating Plan</mat-label>
            <mat-select [formControlName]="i" (selectionChange)="selectSeatingPlan(i); validateRow(i)"
              matTooltip="There are no available seating plans in this location. Please select another location."
              [matTooltipDisabled]="!(availableSeatingPlans[i] && availableSeatingPlans[i].length === 0)"
              [matTooltipPosition]="'above'">
              <mat-option *ngFor="let seatingPlan of availableSeatingPlans[i]" value="{{seatingPlan.name}}">
                {{seatingPlan.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="fa('seatingPlans').at(i).hasError('intersect')">This show cannot play at the same time as
              the others.</mat-error>
            <mat-error *ngIf="fa('seatingPlans').at(i).hasError('occupied')">This seating plan is occupied at the given
              time.</mat-error>
            <mat-error *ngIf="fa('seatingPlans').at(i).hasError('required')">Seating plan must be chosen.</mat-error>
          </mat-form-field>
          <button mat-mini-fab *ngIf="!(expandedSeatingPlan === element)" [disabled]="!enableSeatingPlan[i]"
            color="primary" class="expand-button" type="button"
            (click)="expandedSeatingPlan = expandedSeatingPlan === element ? null : element">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-mini-fab *ngIf="expandedSeatingPlan === element" [disabled]="!enableSeatingPlan[i]"
            color="primary" class="expand-button" type="button"
            (click)="expandedSeatingPlan = expandedSeatingPlan === element ? null : element">
            <mat-icon>expand_less</mat-icon>
          </button>
          <button mat-mini-fab [disabled]="showingArray.length === 1" color="warn" class="delete-button" type="button"
            (click)="removeShow(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="seatingPlanVisual" formArrayName="pricings">
        <td mat-cell *matCellDef="let element; dataIndex as i" [attr.colspan]="displayedColumns.length">
          <div *ngIf="selectedVisualSeatingPlans[i]" class="background-grey"
            [@detailExpand]="element === expandedSeatingPlan ? 'expanded' : 'collapsed'">
            <h3 class="center">Pricing</h3>
            <div class="seating-plan-detail center-table pricing-box">
              <div *ngIf="selectedSeatingPlansInformation[i]" class="sector-prices">
                <div *ngFor="let sector of selectedSeatingPlansInformation[i].sectors; index as j">
                  <div class="flex-row sector-pricing-box" formArrayName="{{i}}">
                    <mat-form-field appearance="fill" floatLabel="always" class="pricing-input">
                      <mat-icon matPrefix class="color-box" [ngStyle]="{'color': sector.color}">square</mat-icon>
                      <span matSuffix>€</span>
                      <mat-label>{{sector.name}}</mat-label>
                      <input [formControlName]="j" matInput placeholder="Free" min="0" type="number">
                      <mat-error>Prices may not be negative.</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="seating-plan">
                <app-seating-plan-visualization [data]="selectedVisualSeatingPlans[i]" [scaleDown]="true">
                </app-seating-plan-visualization>
              </div>
            </div>
            <span class="center note"><strong>Note: </strong>If no input is made, the entry fee for the given sector is
              free.</span>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.example-expanded-row]="expandedSeatingPlan === row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['seatingPlanVisual']" class="detail-row"></tr>
    </table>
  </div>

  <div class="center">
    <button mat-button (click)="addNewShow()" type="button">
      <mat-icon>add</mat-icon>
      Add Show
    </button>
  </div>

  <div class="container">
    <button mat-flat-button color="primary" class="button" (click)="onSubmit()">Create</button>
    <button mat-flat-button color="accent" class="button" type="button" routerLink="/administration">Cancel</button>
  </div>

</form>