<div class="center">
  <form [formGroup]="passwordResetForm" class="form-style">
    <app-headline [icon]="'person_outline'" [text]="'Reset Password'" [centered]="true"></app-headline>
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls.password.hasError('required')">
              A password is required!
            </mat-error>
          <mat-error *ngIf="passwordResetForm.controls.password.hasError('minlength')">
            Your password must be at least 8 characters long!
          </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput formControlName="confirmPassword">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls.confirmPassword.hasError('required')">
              A password is required!
            </mat-error>
          <mat-error *ngIf="passwordResetForm.controls.confirmPassword.hasError('minlength')">
            Your password must be at least 8 characters long!
          </mat-error>
          <mat-error *ngIf="passwordResetForm.errors?.passwordsDoNotMatch">
            Your confirm password must match up with your password input!
          </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="center-button">
      <button type="submit" mat-flat-button color="primary" (click)="resetPassword()" [disabled]="!passwordResetForm.valid">Change Password</button>
    </div>
  </form>
</div>