<app-headline [icon]="'person_outline'" [text]="'Create Account'" [centered]="true"></app-headline>
<form [formGroup]="registerForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <mat-icon matPrefix class="mat-form-field-prefix">email</mat-icon>
    <input type="email" matInput formControlName="email" placeholder="max.musterman@gmail.com">
    <mat-error *ngIf="registerForm.controls.email.hasError('required')">
      Your email is required!
    </mat-error>
    <mat-error *ngIf="registerForm.controls.email.hasError('email')">
      Please enter a valid email address!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <mat-icon matPrefix class="mat-form-field-prefix">lock</mat-icon>
    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="registerForm.controls.password.hasError('required')">
      Your password is required!
    </mat-error>
    <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">
      Your password must be at least 8 characters long!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <mat-icon matPrefix class="mat-form-field-prefix">lock</mat-icon>
    <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off'
      : 'visibility'}}</mat-icon>
    <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('passwordsDoNotMatch')">
      Your confirm password must match up with your password input!
    </mat-error>
  </mat-form-field>
  <div class="center-button">
    <button type="submit" mat-flat-button color="primary" (click)="createUser()">Create</button>
  </div>
  <mat-divider></mat-divider>
  <div class="button-group">
    <button type="button" mat-flat-button color="accent" routerLink="/login">Back to Login</button>
  </div>
</form>
